:root {
    --bg-color: white;
    --bg-color-banner:  #26195a;
    --bg-color-footer:#d0ddf6;
    --menu-fontcolor: white;
    --text-fontcolor: black;
    
    
    
body {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
  max-width: 1100px;
}
h1, h2, h3{
    font-weight: 300;
}
}
/**************HAMBURGER NAVIGATION***************/
.hamburger{
    width: 50px;
    height: 50px;
    margin: 0%;
    padding: 0%;
    border: none;
    cursor: pointer;
    justify-self: end;
    background: transparent;
}
.hamburger::before{
    content: "...";
    font-size: 2rem;
    color: var(--menu-fontcolor);
}
.hamburger.show::before{
    content: "\00D7";
    font-size: 2rem;
    color: var(--menu-fontcolor);
    padding: 0%;
    margin: 0%;
}
/**************NAVIGATION***************/
.nav-links{
    display: none;
}
.nav-links.show{
    display: block;
}
.navigation a{
    text-decoration: none;
    color: var(--menu-fontcolor);   
}
.nav-links{
     list-style: none;
     margin-bottom: 0%;

}
.navigation{
    background-color: var(--bg-color-banner);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); 
    padding-bottom: 0.05rem;
}
.navigation img{
    padding-top: 1.5rem;
    padding-left: 2rem;
    align-self: center;
}
#searchLi.hide{
    display: none;
}
/**************MAIN*****************/
main{
    background: linear-gradient(
    135deg,
    #eef7f0,
    #eedaf5,
    #f9f4cb,
    #b4cbf6
    );

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    padding-top: 7rem;


    }
h2{
    font-size: 1.2rem;

    margin-bottom: 1rem;

    color: #1d1d1d;

    font-family: "Playfair Display", serif;
    padding-left: 2rem;

}
.description, .tech, .tips {
    padding: 2rem;
    
    align-self: center;
    border-radius: 20px;

    /*background-color: 
        #eef7f0;*/
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.description{
   
    grid-row: 1;
}
.tech{
   
    grid-row: 3;
}
.tips{
   
    grid-row: 2;
}


/**************FOOTER***************/
.footer-grid{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;
    background-color: var(--bg-color-footer);
    background: linear-gradient(
    135deg,
  #b4cbf6,
#f9f4cb,
#eedaf5,
    #eef7f0,
     #b4cbf6
);

}
.footer-logo{
    grid-column: 1/2;
    grid-row: 1/3;
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.footer-logo p{
    text-align: center;
}

.footer-links{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    
      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-copy{
    grid-column: 3 / 4;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-copy #name{
    word-break: break-word;
    text-align: center;
}


